{% load static %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming Service</title>
   
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'  %}" />
</head>
<body style="margin:0; padding:0; background:#121212; font-family:Arial, sans-serif; color:#fff;">
    <div class="sidebar">
        <!-- Spotify Logo -->
        <div class="logo-container">
            <img src="{% static 'images/tunetrack.png'  %}" alt="Spotify Logo" style="width: 100%; height: auto; padding: 10px; box-sizing: border-box;">
        </div>

        <!-- Welcome User -->
        <div class="sidebar-section">
            <span style="margin-left: 14px;" class="sidebar-link-icon">👤</span>
            <b>Welcome, {{user.username}}</b>
            <br>
           <br>


            <a href="/logout">
                <span class="sidebar-link-icon">↪️</span>
                <b>Logout</b>
             
            </a>
        

           
        </div> 

        <!-- Top section of the sidebar -->
        <div class="sidebar-section">
            <a href="#" class="sidebar-link active">
                <span class="sidebar-link-icon">🏠</span>
              <b>  Home</b>
            </a>
            <a href="/search" class="sidebar-link">
                <span class="sidebar-link-icon">🔍</span>
              <b>  Search</b>
            </a>
            <!-- <a href="/download" class="sidebar-link">
                <span class="sidebar-link-icon">⬇️</span>
                <b>Download</b>
            </a> -->
            <a href="#" class="sidebar-link">
                <span class="sidebar-link-icon">🎵</span>
              <b>  Your Library</b>
            </a>
        </div>

        <!-- Bottom section of the sidebar -->
        <div class="sidebar-section">
            <a href="/wishlist" class="sidebar-link ">
                <span class="sidebar-link-icon">💜</span>
              <b>  wishlist</b>
            </a>
            <!-- ... more links ... -->
        </div>
    </div>

    <div style="margin-left:240px; padding:20px;">
        <header class="header-container">
            <div class="search-bar" style="width: 390px;">
                <input type="search" placeholder="What do you want to listen to?" aria-label="Search">
                <button type="submit" aria-label="Search">
                    🔍
                </button>
            </div>





            <div class="search-title">Top Artists</div>
        </header>
        <main style="padding-top:20px;">
            <section style=" margin-top:0px; padding:0px; overflow-x:auto; white-space:nowrap;">

                <!-- Artist Card -->
                 
                <div class="artist-card">
                   
                    <a href="#" style="text-decoration: none;">
                        <a href="{% url 'music_player' artist_id=2 %}">

                        <img src="{% static 'images/arrahman.jpg' %}" alt="ar" style="width:150px; height:150px; border-radius:50%;"></a>
                        <div class="artist-info">
                           <div class="artist-name">Ar Rahman</div>
                           <div class="artist-title">Artist</div>
                    
                        </div>
                   </a>
                </div>




                <div class="artist-card">
                    <a href="#" style="text-decoration: none;">
                        <a href="{% url 'music_player' artist_id=3 %}">

                    <img src="{% static  'images/arjit.jpg'   %}" alt="Arjith" style="width:150px; height:150px; border-radius:50%;"></a>
                    <div class="artist-info">
                        <div class="artist-name">Arjith Sing</div>
                        <div class="artist-title">Artist</div>
                    </div>
                    </a>
                </div>




                <div class="artist-card">
                    <a href="#" style="text-decoration: none;">
                        <a href="{% url 'music_player' artist_id=4 %}">
                        <img src="{% static 'images/atif.jpg'   %}" alt="Rema" style="width:150px; height:150px; border-radius:50%;"></a>
                        <div class="artist-info">
                           <div class="artist-name">Atif Aslam</div>
                           <div class="artist-title">Artist</div>
                    
                        </div>
                   </a>
                </div>
                 


                

                
                <div class="artist-card">
                    <a href="#" style="text-decoration: none;">
                        <a href="{% url 'music_player' artist_id=5 %}">
                    <img src="{% static 'images/sreya.jpg' %}" alt="sreya" style="width:150px; height:150px; border-radius:50%;"></a>
                    <div class="artist-info">
                        <div class="artist-name">Sreya Goshal</div>
                        <div class="artist-title">Artist</div>
                    </div>
                    </a>
                </div>


                <div class="artist-card">
                    <a href="#" style="text-decoration: none;">
                        <a href="{% url 'music_player' artist_id=6 %}">
                    <img src="{% static 'images/arman.jpg' %}" alt="Arman" style="width:150px; height:150px; border-radius:50%;"></a>
                    <div class="artist-info">
                        <div class="artist-name">Arman Malik</div>
                        <div class="artist-title">Artist</div>
                    </div>
                    </a>
                </div>


               

                <div class="artist-card">
                    <a href="#" style="text-decoration: none;">
                        <a href="{% url 'music_player' artist_id=7 %}">
                    <img src="{% static 'images/vineeth.jpg' %}" alt="Rema" style="width:150px; height:150px; border-radius:50%;"></a>
                    <div class="artist-info">
                        <div class="artist-name">Vineeth Sreenivasan</div>
                        <div class="artist-title">Artist</div>
                    </div>
                    </a>
                </div>


                <div class="artist-card">
                        <a href="{% url 'music_player' artist_id=8 %}">

                    <img src="{% static 'images/anirudh.jpg' %} "alt="Anirudh" style="width:150px; height:150px; border-radius:50%;"></a>
                    <div class="artist-info">
                        <div class="artist-name">Anirudh</div>
                        <div class="artist-title">Artist</div>
                      </div>
                    </a>
                </div>
            </section>


            





          
          <!-- "Browse All" Section Title -->
          <div class="browse-all-title">Top songs</div>

      

          <div class="browse-all">
            <!-- Category Card -->
            <div class="category-card">
                <a href="#" style="text-decoration: none;">
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
                <img src="{% static 'images/thamil Malayalm.jpg' %}" alt="Podcasts"></a><br>
                <div class="category-title">Thamil x Malayalam</div></a>
            </div>



            <div class="category-card">
            <a href="#" style="text-decoration: none;">
                 <a href="{% url 'tune_album' topsong_id=2 %}">
                   <img src="{% static 'images/allss.jpeg' %}" alt="Malayalam song"></a>
            <div class="category-title">Feel good</div>
        </a></div>



            <div class="category-card">
            <a href="#" style="text-decoration: none;">
                <a href="{% url 'tune_album' topsong_id=3 %}">
                <img src="{% static 'images/malayala.jpg' %}" alt="live Events"></a><br><br>
                <div class="category-title">Jukebox</div>
            </div>

          
            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                  <a href="{% url 'tune_album' topsong_id=1 %}">
                   
              <img src="{% static 'images/thamil best.jpeg' %}" alt="Podcasts"></a>
              <div class="category-title">Thamil Best</div>
            </div>

            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
              <img src="{% static 'images/bol.jpg' %}" alt="Podcasts"></a>
              <div class="category-title">Bollywood</div></a>
            </div>

            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
              <img src="https://i.scdn.co/image/ab67fb8200005caf585ad0e83caae5047865f7a4" alt="Podcasts"></a>
              <div class="category-title">2023 in music</div></a>
            </div>
            <!-- Repeat for each category -->
             <!-- other categories  -->
        </div>

        <div class="browse-all">
            <!-- Category Card -->
            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
                <img src="{% static 'images/new music.jpg' %}" alt="Podcasts"></a>
                <div class="category-title">Trending</div></a>
            </div>

            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=8 %}">
                   
              <img src="{% static 'images/hello.jpg' %}" alt="Podcasts"></a>
              <br>
              <br>
              <div class="category-title">Hits</div></a>
            </div>

            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
              <img src="{% static 'images/allss.jpeg' %}" alt="Podcasts"></a>
              <div class="category-title">Mixed</div></a>
            </div>

            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
              <img src="https://i.scdn.co/image/ab67fb8200005cafa862ab80dd85682b37c4e768" alt="Podcasts"></a>
              <div class="category-title">Pop</div></a>
            </div>

            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
              <img src="https://i.scdn.co/image/ab67fb8200005caf271f9d895003c5f5561c1354" alt="Podcasts"></a>
              <div class="category-title">Mood</div></a>
            </div>

            <div class="category-card">
                <a href="#" style="text-decoration: none;">
      
                    <a href="{% url 'tune_album' topsong_id=1 %}">
                   
              <img src="https://i.scdn.co/image/ab67fb8200005caf9e3dea60be755ccd97b7351f" alt="Podcasts"></a>
              <div class="category-title">Hip-Hop</div></a>
            </div></div>

       
           
        </main>

    </div>
    
</body>
</html>
